/* Importando a fonte Roboto diretamente no SCSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Estilos globais */
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplicando a fonte globalmente */
body {

  background-color: #ffffff;  /* Exemplo de cor de fundo global */
  height: 100%;
  width: 100%;
}

/* Exemplo de um estilo para um container global */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  background-color: #fff;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: rgb(55, 143, 255);;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn:hover {
    background-color: rgb(55, 143, 255);
    transform: scale(1.05);
    background-color: white;
    color: black;
  }
  
  .styled-line {
    border: 0;
    width: 50%; 
    color: black;
    margin: 20px auto;
}